@import "https://use.fontawesome.com/releases/v5.9.0/css/all.css";

.name, .password {
    padding-bottom: 30px;
    width: 100%;
}

input {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    border-bottom: 2px solid #ffffffc0;
    color: #ffffffc0;
    width: 90%;
    text-align: center;
}

input::placeholder {
    text-align: center;
    color: #ffffffc0;
    opacity: 0.5;
}


form i {
    width: 20px;
    color: #ffffffc0 ;
}