.btn{
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;
    color: #ffffffc0;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    z-index: 1;
  }
  
  .btn::before{
    top: -4px;
    left: 10%;
    content: "";
    position: absolute;
    width: 23px;
    height: 4px;
    background: #07275d;
    transform: skewX(50deg);
    transition: .4s linear;
  }
  
  .btn::after{
    bottom: -4px;
    right: 10%;
    content: "";
    position: absolute;
    width: 23px;
    height: 4px;
    background: #041f4b;
    transform: skewX(50deg);
    transition: .4s linear;
  }
  
  .btn:hover::before{
    left: 80%;
  }
  
  .btn:hover::after{
    right: 80%;
  }
  